[Unit]
Description=Run file-move-trigger every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=file-move-trigger.service

[Install]
WantedBy=timers.target
