[Unit]
Description=Move files when triggered to do so

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/file-move-trigger --config=/etc/file-move-trigger/config.yaml
