[Unit]
Description=file-move-trigger inotify daemon
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/sbin/file-move-trigger --config=/etc/file-move-trigger/config.yaml
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
